*.iml
*.ipr
*.iws
target/
/**/var/
/atlassian-ide-plugin.xml
.idea
.run
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
benchmark_outputs
*.pyc
*.class
.checkstyle
.mvn/timing.properties
node_modules
product-test-reports
.vscode/
/gib-impacted.log
/impacted-features.log
.github/test-matrix.yaml
.github/test-pt-matrix.yaml
.github/bin/redshift/.cluster-identifier
**/dependency-reduced-pom.xml
.node
playground-*.log
data/
